/* Generics */
body {
  font-family: 'calibri';
}

ul {
  list-style-type: none;
  padding-left: 0;
}

form {
  border-radius: 5px;
  box-shadow: 0 0 20px -6px #127acc;
}

/* Utilities */
.student-property {
  color: grey;
}